// 带缩略图的alt+tab切换窗口功能（但是我设置的是super+tab，更符合逻辑）
recent-windows {
    // 取消//off的注释可以禁用
    // off
    debounce-ms 750
    open-delay-ms 150

    highlight {

        // 缩略图背景内间距
        padding 30
        // 缩略图的背景圆角
        corner-radius 12
    }

	//设置缩略图大小
    previews {
        max-height 480
        max-scale 0.2
    }

    binds {
        // scope可以设置显示的窗口是当前工作区的、还是当前显示器的、或者显示全部窗口
        Mod+Tab         { next-window scope="workspace"; }
        Mod+Shift+Tab   { previous-window scope="workspace"; }
        // grave是波浪键，显示当前应用的所有窗口
        Mod+grave       { next-window     filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
}
